/* Tasks Css */

.ol{
    list-style: none;
    margin-left: -40px;
}
.formWrapper{
 display: flex;
}

.formInput{
    background-color: black;
    padding:10px;
    color: white;
    margin: 2%;
    cursor: pointer;
    
}


